* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: sans-serif; min-height: 100vh; display: flex; flex-direction: column; }

/* 页眉部分 */
header { background: #333; padding: 15px 20px;
    display: flex;
    justify-content: space-between;  /* 关键：两端对齐 */
    align-items: center;              /* 垂直居中 */}
header .logo img {height: 40px;  /* logo 高度，按需调整 */}
header nav a { color: #fff; margin-left: 25px; text-decoration: none; }
header nav a:hover { text-decoration: underline; }

/* 主体部分 */
main { flex: 1; 
    display: flex;
    flex-direction: column;    /* 关键：纵向排列 */ }

table { border-collapse: collapse; width: 100%; margin-top:20px; }
td,th { border:1px solid #ccc; padding:8px; text-align:center; }
.menu { margin-bottom:20px; }
.menu button { padding:6px 12px; margin:5px; }

form { margin-top:20px; margin-bottom: 20px; }

.buttonChange {
background-color: #ccc;
border: none;
padding: 10px 20px;
cursor: pointer;
transition: transform 0.3s ease;
}

button:hover {
transform: scale(1.1);
}

/* 页脚部分 */
footer { background: #eee; padding: 15px 20px; text-align: center; font-size: 14px; 
    display: flex;              /* 关键：改为行状 */
    justify-content: center;    /* 水平居中 */
    gap: 30px;                  /* 两项之间的间距 */
    flex-wrap: wrap;            /* 屏幕太窄时自动换行 */}
